.movie-card {
  max-width: 360px;
  width: 100vw;
  margin: 0 0 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.movie-card__container {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.movie-card__image {
  width: 100%;
  height: 201px;
  border-radius: 6px;
  object-fit: cover;
}

.movie-card__button-save {
  position: absolute;
  top: 14px;
  right: 14px;
  margin: 0;
  padding: 0;
  width: 72px;
  height: 21px;
  border: none;
  background-color: #313131;
  border-radius: 30px;
  color: white;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  transition: all 0.1s;
  cursor: pointer;
}

.movie-card__button-delete {
  position: absolute;
  top: 14px;
  right: 14px;
  margin: 0;
  padding: 0;
  width: 21px;
  height: 21px;
  border: none;
  background-color: #EE3465;
  border-radius: 50%;
  background-image: url(../../images/movie-card-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.1s;
  cursor: pointer;
}

.movie-card__button-remove {
  position: absolute;
  top: 14px;
  right: 14px;
  margin: 0;
  padding: 0;
  width: 21px;
  height: 21px;
  border: none;
  background-color: #313131;
  border-radius: 50%;
  background-image: url(../../images/movie-card-button-remove.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.1s;
  cursor: pointer;
}

.movie-card__button_invisible {
  display: none;
}

.movie-card__description {
  width: 332px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.movie-card__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0;
}

.movie-card__duration {
  width: 52px;
  background-color: #2F2F2F;
  color: #8B8B8B;
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  margin: 0;
  padding: 3px 0 0;
  border-radius: 3px;
}



