.about-me {
  max-width: 1140px;
  width: 87vw;
  margin: 110px auto 100px;
  padding: 0;
  text-align: start;
}

.about-me__title {
  width: 100%;
  height: 51px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #DADADA;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.21;
  letter-spacing: -0.04em;
}

.about-me__description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 66px 0 0;
  padding: 0;
}

.about-me__text {
  max-width: 53%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me__text-main {
  width: 100%;
}

.about-me__name {
  margin: 0 0 18px;
  padding: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__job {
  margin: 0 0 26px;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.about-me__article {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.about-me__github {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.about-me__github:hover {
  opacity: 0.8;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  background-image: url("../../images/about-me-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

@media screen and (max-width: 750px) {
  .about-me {
    max-width: 668px;
    margin: 90px auto;
  }

  .about-me__description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 66px 0 0;
    padding: 0;
  }

  .about-me__text {
    max-width: 364px;
  }

  .about-me__name {
    margin: 0 0 16px;
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__job {
    margin: 0 0 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__article {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__github {
    font-size: 14px;
    line-height: 1.21;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 700px) {
  .about-me__description {
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 40px;
  }

  .about-me__text {
    max-width: 292px;
    gap: 40px;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
  }
}

@media screen and (max-width: 550px) {
  .about-me {
    width: 89vw;
    margin: 70px auto;
  }

  .about-me__name {
    margin: 0 0 20px;
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__job {
    margin: 0 0 20px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__article {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__github {
    line-height: 17px;
  }
}
